/*https://mycolor.space/?hex=%23E2AA0A&sub=1*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/*Navigatie*/
nav {
  background-color:#dfe0df;
  padding: 20px;
  border-radius: 10px;
}
/*
.main-nav-item#home {
  background-color: #4e4637;
  color: blue;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
.main-nav-item#home:hover {
  border: 3px solid #4e4637;
}*/
.main-nav-item, .btn-secundairy {
  margin: 10px;
  background-color: #b5aa99; 
  border-radius: 10px;
  border: 3px solid #dfe0df;
  color: black;
  padding: 10px;
  
}
.btn-primary {
  background-color: #2f4858;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
}
.btn-primary:hover {
  border: 3px solid #2f4858;
}
.btn-secundairy {
  border: 3px solid white;
}
.btn-secundairy:hover {
  border: 3px solid #b5aa99;

}
.main-nav-item:hover {
  border: 3px solid #b5aa99;
  color: black;
}
.router-link-active {
  background: #4e4637;
  color: white;
}
.router-link-active:hover {
  border: 3px solid #4e4637;
  color: white;
}

#grocerytable input, #groceryform input {
  background-color: #dfe0df;
  border: 3px solid #dfe0df;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
#grocerytable input:focus, #groceryform input:focus {
  outline: none;
  border: 3px solid #4e4637;
}
#groceryform input {
  width: 100%;
}
#groceryform h4 {
  text-align: left;
  text-transform: capitalize;
}

.product-name {
  text-align: left;
  padding-right: 15px;
}